<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mes emrpunts</title>
</head>
<body>
<div th:insert="header.html"/>

    <h1>Liste des livres</h1>

    <div class="cstyle">
        <table class="table listTableDeco">
            <thead>
            <tr>
                <th>Titre </th>
                <th>Nom de l'Auteur</th>
                <th>Date de l'emprunt</th>
                <th>La date d'emprunt est prolongée</th>
                <th>Prolongation ?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exemplaire : ${exemplaires}">
                <td><a th:href="@{/livre/{id}(id=${exemplaire.livre.id})}" th:text="${exemplaire.livre.titre}"></a></td>
                <td th:text="${exemplaire.livre.auteur}"></td>
                <td th:text="${exemplaire.dateDemprunt}"></td>
                <td th:text="${exemplaire.prolongerEmprunt}"></td>
            <td><a href="/prolongerEmprunt/${exemplaire.id}" class="btn btn-success">Prolonger l'emprunt</a> </td>
<!--            <button type="submit" th:value="/prolongerEmprunt" name="prolongation">Prolonger la duree du pret </button> </tr>-->
            </tbody>
        </table>
    </div>
    <div th:if="${exemplaires.isEmpty()}">
        <p>Vous n'avez aucun livre, venez à la bibliotheque en prendre de nouveaux.</p>
    </div>
</div>

</body>
</html>