<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livres</title>
</head>
<body>
<h1 class="text-center">Application de ma bibliotheque</h1>

<div class="row">


    <div th:each="produit : ${livres}" class="col-md-4 my-1">
        <li></li><a th:href="@{|/details-livre/${livres.id}|}">
            <p th:text="${livres.nom}"></p>
            <p th:text="${livres.auteur}"></p>
            <p th:text="${livres.nom}"></p>
            <a href="reserverLivre.html" th:href="@{reserverLivre}">Reserver un livre !</a>
        </a>
    </div>
</div>
</body>
</html>