<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Livre</title>
</head>
<body>
<h1 class="text-center">Détails du livre <p th:text="${livre.titre}"/></h1>

<div class="row">

        <a th:href="@{/details-livre/{id}(id=${livre.id})}">
            <p th:text="${livre.titre}"></p>
            <p th:text="${livre.auteur}"></p>
        </a>
    </div>

<div th:each="exemplaire : ${exemplaire}" class="col-md-4 my-1">
        <p th:text="${exemplaire.nbDispo}"></p>
        <p th:text="${exemplaire.id}"></p>
    </a>
</div>

</div>

</body>

</html>