<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<div>
<div th:insert="header.html"/>
<div class="container" style="margin-top:5%">

<h1>S'identifier</h1>

    <form th:action="@{/login}" method="post">
        <label>Utilisateur :</label>
        <input type="text" name="pseudo" path="username" id="username" th:value="${username}"/>
        <label>Mot de passe :</label>
        <input type="password" name="password" path="password" id="password" th:value="${password}"/>
    </form>
    <button class="btn btn-primary">Let's Go </button>


    <input type="submit" class="btn btn-success" value="Valider"/>
    <a class="btn btn-danger" href="/">Cancel</a>

</div>
</div>
</body>
</html>