<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Recherche d'ouvrages</title>
</head>
<body>
<div th:insert="header.html"/>

<div class="container" style="margin-top:5%">

    <input method="POST" modelAttribute="recherche" action="/recherche">

    <h2>Recherche d'ouvrages</h2><br/>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="titre">Titre</span>
        </div>
        <input path="titre" type="text" class="form-control" autofocus="true" aria-label="Default"
               aria-describedby="inputGroup-sizing-default"/>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="auteur">Auteur</span>
        </div>
        <input path="auteur" type="text" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default"/>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
</div>>

<table class="table  table-bordered">
    <tr>
        <th>Titre du livre</th>
        <th>Auteur</th>
        <th>Nombres d'exemplaires disponible</th>
    </tr>
<!--//TODO A FINIR-->
    <forEach items="${resultatSites}" var="site">
        <tr>
            <td><a href="/site/${site.id}">${site.nom}</a></td>
            <td>${site.pays}</td>
            <td><forEach items="${site.secteurs}" var="secteur">
                <forEach items="${secteur.voieList}" var="voie">
                    <forEach items="${voie.longueurlist}" var="longueur">
                        ${longueur.cotation}<br/>
                    </forEach>
                </forEach>
            </forEach></td>
            <td> ${site.nbSecteurs()}</td>
        </tr>
    </forEach>

</table>
</di>
</body>
</html>